<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: rgb(154, 154, 240);
            font-size: xx-large;
            font-family: sans-serif;
        }
        a {
            font-size: large;
        }
    </style>
</head>
<body>
    <center>
        <h1>WEATHERFORCAST DETAILS</h1>
        <a href="{% url 'index' %}">click here</a>
    </center>
</body>
</html>